flows.json
[
    {
        "id": "bbaae1db6d3d10cd",
        "type": "tab",
        "label": "Smart Irrigation UI",
        "disabled": false,
        "info": "Hệ thống chăm sóc cây thông minh iTree"
    },
    {
        "id": "8adb8a0c24093ea0",
        "type": "ui_form",
        "z": "bbaae1db6d3d10cd",
        "name": "login_form",
        "label": "",
        "group": "2b2d338d9f30ab22",
        "order": 1,
        "width": 6,
        "height": 4,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "username": "",
            "password": ""
        },
        "submit": "Đăng nhập",
        "cancel": "",
        "topic": "login",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "b6654d5521f1bdc9"
            ]
        ]
    },
    {
        "id": "54a442a5d9554b47",
        "type": "ui_switch",
        "z": "bbaae1db6d3d10cd",
        "name": "Bật/tắt gửi email",
        "label": "Gửi thông báo qua Email",
        "tooltip": "",
        "group": "83b22cea40991d65",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "email_notify",
        "topicType": "str",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 160,
        "y": 1340,
        "wires": [
            [
                "afe8bfa4148c8d7c"
            ]
        ]
    },
    {
        "id": "5ac6c00ca31cb89e",
        "type": "ui_gauge",
        "z": "bbaae1db6d3d10cd",
        "name": "Nhiệt độ",
        "group": "4af142fc2271e75e",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "Nhiệt độ",
        "format": "{{value}} °C",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 200,
        "y": 200,
        "wires": []
    },
    {
        "id": "8d82255c88b0131b",
        "type": "ui_gauge",
        "z": "bbaae1db6d3d10cd",
        "name": "Độ ẩm",
        "group": "89a06004a041e750",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}} %",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 200,
        "y": 260,
        "wires": []
    },
    {
        "id": "d92d87f16e5a3f5c",
        "type": "ui_switch",
        "z": "bbaae1db6d3d10cd",
        "name": "Tự động/Thủ công",
        "label": "Tự động",
        "tooltip": "",
        "group": "1d2eb9851173c727",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mode",
        "topicType": "str",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "manual",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "b31ab048377f74ac",
                "eb8c20cd523ca971"
            ]
        ]
    },
    {
        "id": "4660bd78cd03690d",
        "type": "ui_button",
        "z": "bbaae1db6d3d10cd",
        "name": "pump_manual",
        "group": "1d2eb9851173c727",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Tưới ngay",
        "tooltip": "Nhấn để tưới nước thủ công",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-play",
        "payload": "ON",
        "payloadType": "str",
        "topic": "pump_manual",
        "topicType": "str",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "7df82ca30fd8aee2",
                "b31ab048377f74ac"
            ]
        ]
    },
    {
        "id": "703787dcd3a8185c",
        "type": "ui_slider",
        "z": "bbaae1db6d3d10cd",
        "name": "Cường độ đèn",
        "label": "Độ sáng",
        "tooltip": "{{value}}",
        "group": "1dd841083e538fcb",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "light_level",
        "topicType": "str",
        "min": 0,
        "max": 100,
        "step": 1,
        "className": "",
        "x": 860,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b244c90ea27fd291",
        "type": "ui_button",
        "z": "bbaae1db6d3d10cd",
        "name": "Bật/Tắt đèn",
        "group": "1dd841083e538fcb",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "{{label_light}}",
        "tooltip": "Nhấn để bật hoặc tắt đèn",
        "color": "white",
        "bgcolor": "#337ab7",
        "className": "",
        "icon": "fa-lightbulb-o",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "light_toggle",
        "topicType": "str",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "651326fd9d312a66",
                "24968b6fbc7b0c9d"
            ]
        ]
    },
    {
        "id": "eb618a0e705e2c44",
        "type": "ui_text",
        "z": "bbaae1db6d3d10cd",
        "group": "1dd841083e538fcb",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Trạng thái đèn",
        "label": "Trạng thái đèn:",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "1d024fe4e6f20d34",
        "type": "ui_chart",
        "z": "bbaae1db6d3d10cd",
        "name": "Biểu đồ lịch sử",
        "group": "c4fc82bed36ffa3d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lịch sử độ ẩm và nhiệt độ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Đang tải dữ liệu...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "",
        "removeOlderPoints": "",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 180,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a62a97d91a2eed51",
        "type": "ui_form",
        "z": "bbaae1db6d3d10cd",
        "name": "Chọn ngày truy vấn",
        "label": "Chọn ngày xem dữ liệu",
        "group": "134e30c886f77fdc",
        "order": 1,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "Ngày",
                "value": "date",
                "type": "date",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "date": ""
        },
        "submit": "Xem dữ liệu",
        "cancel": "",
        "topic": "history_query",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 250,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "651326fd9d312a66",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Thay đổi bật/tắt đèn",
        "func": "let ledState = flow.get(\"ledState\");\nif (msg.payload == \"toggle\")\n    ledState = !ledState;\nflow.set(\"ledState\", ledState);\n\nif (ledState == true)\n    msg.payload = \"Bật đèn từ Dashboard\";\nelse\n    msg.payload = \"Tắt đèn từ Dashboard\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 540,
        "wires": [
            [
                "a0fd103ddf409c74",
                "6dfeb6e8db219bbe"
            ]
        ]
    },
    {
        "id": "f9457eb2c611f395",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Biến global",
        "func": "flow.set(\"ledState\", false);\nflow.set(\"sendEmail\", false);\nflow.set(\"logs\", []);\nflow.set(\"autowater\", false);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "24968b6fbc7b0c9d",
        "type": "mqtt out",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/led_dashboard",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8195d7a4b94bdd16",
        "x": 350,
        "y": 600,
        "wires": []
    },
    {
        "id": "0a945f3fba55b17d",
        "type": "mqtt in",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/led_wokwi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8195d7a4b94bdd16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "b4d2a783e827315f"
            ]
        ]
    },
    {
        "id": "b4d2a783e827315f",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Đổi true/false",
        "func": "if (msg.payload === \"True\")\n{\n    msg.payload = \"Đã bật đèn\";\n    flow.set(\"ledState\", true);\n}\nelse \n{\n    msg.payload = \"Đã tắt đèn\";\n    flow.set(\"ledState\", false);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 680,
        "wires": [
            [
                "a0fd103ddf409c74",
                "6dfeb6e8db219bbe"
            ]
        ]
    },
    {
        "id": "a0fd103ddf409c74",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Bật/tắt => 0/100",
        "func": "let ledState = flow.get(\"ledState\");\nif (ledState == true)\n    msg.payload = 100;\nelse\n    msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 540,
        "wires": [
            [
                "703787dcd3a8185c",
                "4adb3517ada067ed"
            ]
        ]
    },
    {
        "id": "b31ab048377f74ac",
        "type": "ui_slider",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "label": "Thời gian tưới (s)",
        "tooltip": "{{value}}",
        "group": "1d2eb9851173c727",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 410,
        "y": 1080,
        "wires": [
            [
                "9a6e70e6d4b267f5"
            ]
        ]
    },
    {
        "id": "4adb3517ada067ed",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "On/off",
        "func": "if (msg.payload == 0)\n    msg.payload = \"OFF\";\nelse\n    msg.payload = \"ON\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 600,
        "wires": [
            [
                "eb618a0e705e2c44"
            ]
        ]
    },
    {
        "id": "52f01f1fb2ab6bd4",
        "type": "mqtt out",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/pump",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8195d7a4b94bdd16",
        "x": 670,
        "y": 920,
        "wires": []
    },
    {
        "id": "9a6e70e6d4b267f5",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Set Water Time",
        "func": "flow.set(\"water_time\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "7df82ca30fd8aee2",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Check and pass water time",
        "func": "let autowater = flow.get(\"autowater\");\nlet informMsg = {};\n\nif (autowater == false)\n{\n    let water_time = flow.get(\"water_time\");\n    msg.payload = \"ON\" + \"_\" + String(water_time);\n    informMsg.payload = \"Đã bật máy bơm từ Dashboard\";\n    return [informMsg, msg];\n}\nelse\n{\n    informMsg.payload = \"Chế độ tự động tưới đang bật!\";\n    return [informMsg, null];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 920,
        "wires": [
            [
                "6dfeb6e8db219bbe"
            ],
            [
                "52f01f1fb2ab6bd4"
            ]
        ]
    },
    {
        "id": "623e3549d7c1f59e",
        "type": "mqtt in",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/pump",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8195d7a4b94bdd16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "bf539520e20ef7c6"
            ]
        ]
    },
    {
        "id": "bf539520e20ef7c6",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Pump on message",
        "func": "if (msg.payload == \"ON\")\n{\n    msg.payload = \"Đã bật máy bơm\";\n    return msg;\n}\nelse if (msg.payload == \"OFF\")\n{\n    msg.payload = \"Đã tắt máy bơm\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 760,
        "wires": [
            [
                "6dfeb6e8db219bbe"
            ]
        ]
    },
    {
        "id": "6eee42d023e417ba",
        "type": "e-mail",
        "z": "bbaae1db6d3d10cd",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "Send temperature email",
        "x": 590,
        "y": 1400,
        "wires": []
    },
    {
        "id": "afe8bfa4148c8d7c",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "On/off send email",
        "func": "if (msg.payload == \"ON\")\n{\n    flow.set(\"sendEmail\", true);\n}\nelse\n{\n    flow.set(\"sendEmail\", false);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "e145b6fd17e63934",
        "type": "e-mail",
        "z": "bbaae1db6d3d10cd",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "msg.email",
        "dname": "Send humid email",
        "x": 570,
        "y": 1460,
        "wires": []
    },
    {
        "id": "650664786a0bd731",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Check off range temp",
        "func": "let temp = msg.payload;\nlet upper = 40;\nlet lower = 10;\nlet sendEmail = flow.get(\"sendEmail\");\n\nif ((temp < lower || temp > upper) && sendEmail == true)\n{\n    msg.topic = \"Cảnh báo! Nhiệt độ ngoài khoảng an toàn!\";\n    msg.payload = \"Nhiệt độ hiện tại đang nằm ngoài ngưỡng cho phép: \" + temp + \"°C\";\n    msg.to = flow.get(\"userEmail\");\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1400,
        "wires": [
            [
                "6eee42d023e417ba"
            ]
        ]
    },
    {
        "id": "ca930fe4bcbe13c9",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Check off range humid",
        "func": "let humid = msg.payload;\nlet upper = 100;\nlet lower = 10;\nlet sendEmail = flow.get(\"sendEmail\");\n\nif ((humid < lower || humid > upper) && sendEmail == true) \n{\n    msg.topic = \"Cảnh báo! Độ ẩm dưới ngưỡng an toàn\";\n    msg.payload = \"Độ ẩm hiện tại đang nằm dưới ngưỡng cho phép: \" + humid + \"%\";\n    msg.to = flow.get(\"userEmail\");\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1460,
        "wires": [
            [
                "e145b6fd17e63934"
            ]
        ]
    },
    {
        "id": "994d3136548e11c9",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Command string",
        "func": "let water_time = msg.payload.water_time;\nmsg.payload = \"ON\" + \"_\" + String(water_time);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1260,
        "wires": [
            [
                "92a2efa75cec7430"
            ]
        ]
    },
    {
        "id": "691b988619622cee",
        "type": "json",
        "z": "bbaae1db6d3d10cd",
        "name": "command_parser",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 190,
        "y": 1260,
        "wires": [
            [
                "994d3136548e11c9"
            ]
        ]
    },
    {
        "id": "92a2efa75cec7430",
        "type": "mqtt out",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/autowater",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8195d7a4b94bdd16",
        "x": 620,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c179bb95179293e6",
        "type": "http request",
        "z": "bbaae1db6d3d10cd",
        "name": "Get water time from model",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 420,
        "y": 1200,
        "wires": [
            [
                "691b988619622cee"
            ]
        ]
    },
    {
        "id": "eb8c20cd523ca971",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Set autowater",
        "func": "if (msg.payload == \"auto\")\n{\n    flow.set(\"autowater\", true);\n}\nelse\n{\n    flow.set(\"autowater\", false);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "6dfeb6e8db219bbe",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Store 5 recent msg",
        "func": "let history = flow.get(\"logs\") || [];\nlet now = new Date().toLocaleTimeString(\"vi-VN\", { hour: '2-digit', minute: '2-digit' });\nlet newMsg = `🕒 ${now} - ${msg.payload}`;\nhistory.unshift(newMsg);\nhistory = history.slice(0, 5);\nflow.set(\"logs\", history);\nmsg.payload = history;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 680,
        "wires": [
            [
                "ede157d4f7aee52c"
            ]
        ]
    },
    {
        "id": "ede157d4f7aee52c",
        "type": "ui_template",
        "z": "bbaae1db6d3d10cd",
        "group": "83b22cea40991d65",
        "name": "Thông báo/cảnh báo",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<md-card style=\"\n  padding: 10px;\n  background-color: #f9f9f9;\n  border-left: 5px solid #4CAF50;\n  max-height: 160px;\n  overflow-y: auto;\n  box-sizing: border-box;\n\">\n  <md-card-content style=\"margin-top: -5px; padding-bottom: 20px;\">\n    <ul style=\"list-style: none; padding-left: 0; margin: 0;\">\n      <li ng-repeat=\"item in msg.payload track by $index\" style=\"padding: 8px 0; border-bottom: 1px solid #ddd;\">\n        <span style=\"font-size: 15px; font-weight: bold;\">🔔 {{item}}</span>\n      </li>\n    </ul>\n  </md-card-content>\n</md-card>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "58efd16fc06e5007",
        "type": "mqtt in",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127005/LDR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8195d7a4b94bdd16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1660,
        "wires": [
            [
                "1704aaa55f0d044c",
                "1ba031f61811a785",
                "f208bbe00e0494f8",
                "d1257fc7709803da"
            ]
        ]
    },
    {
        "id": "1704aaa55f0d044c",
        "type": "debug",
        "z": "bbaae1db6d3d10cd",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 1660,
        "wires": []
    },
    {
        "id": "1ba031f61811a785",
        "type": "ui_gauge",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "group": "92be35e746bc4e42",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Độ tối",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#ffffff",
            "#858585",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 1600,
        "wires": []
    },
    {
        "id": "f208bbe00e0494f8",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Msg ON when dark",
        "func": "flow.set(\"past\", flow.get(\"now\"));\nlet auto_led2 = flow.get(\"autoled2\");\nlet light_intensity = parseInt(msg.payload);\n\nif (auto_led2 == 1)\n{\n    if (light_intensity > 3000)\n    {\n        msg.payload = \"ON\";\n        flow.set(\"now\", 1);\n    }\n    else\n    {\n        msg.payload = \"OFF\"; \n        flow.set(\"now\", 0);\n    }\n    if (flow.get(\"past\") != flow.get(\"now\"))\n        return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1740,
        "wires": [
            [
                "1fd24ab564821217",
                "b6624eb6b63c061b"
            ]
        ]
    },
    {
        "id": "b6624eb6b63c061b",
        "type": "mqtt out",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127005/led2",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8195d7a4b94bdd16",
        "x": 540,
        "y": 1740,
        "wires": []
    },
    {
        "id": "1a4d97766117b7bf",
        "type": "ui_switch",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "label": "Chế độ tự động bật đèn dựa vào cường độ ánh sáng",
        "tooltip": "",
        "group": "92be35e746bc4e42",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 1820,
        "wires": [
            [
                "ab3007e2c0c6a420"
            ]
        ]
    },
    {
        "id": "ab3007e2c0c6a420",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Set autoled variable",
        "func": "flow.set(\"autoled2\", msg.payload);\nflow.set(\"past\", 0);\nflow.set(\"now\", 0);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "52101d37b65c2eeb",
        "type": "pushsafer",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "apikey": "798c05fb12cd851c",
        "notificationtemplate": "6eb5c1d6bdaec352",
        "x": 760,
        "y": 1680,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1fd24ab564821217",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Msg when turn on light",
        "func": "let led2_now_state = flow.get(\"now\");\nlet led2_past_state = flow.get(\"past\");\nif (led2_now_state == 1 && led2_past_state == 0)\n    msg.payload = \"Đèn đã được bật tự động\";\nelse\n    msg = null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "d1257fc7709803da",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Create msg for http",
        "func": "var a = msg.payload;\nmsg.payload = {\n    api_key: \"8AZJ3HOA1ZH6ITXH\",  \n    field1: a\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1520,
        "wires": [
            [
                "212c0c6616b8d3e1"
            ]
        ]
    },
    {
        "id": "212c0c6616b8d3e1",
        "type": "http request",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://api.thingspeak.com/update?",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 1520,
        "wires": [
            [
                "a20f8c08e8d52726"
            ]
        ]
    },
    {
        "id": "a20f8c08e8d52726",
        "type": "debug",
        "z": "bbaae1db6d3d10cd",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1520,
        "wires": []
    },
    {
        "id": "b6654d5521f1bdc9",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Store email",
        "func": "flow.set(\"userEmail\", msg.payload.email);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "dc930dafe045725e",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Create request",
        "func": "let moisture = Math.random() * 80 + 2;\nlet temp = Math.random() * 50 + 2;\nlet light = Math.random() * 100 + 2;\n\nmsg.payload = {\n    moisture: moisture,\n    temp: temp,\n    light: light\n};\nlet autowater = flow.get(\"autowater\");\nif (autowater == true)\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1200,
        "wires": [
            [
                "c179bb95179293e6"
            ]
        ]
    },
    {
        "id": "609df82b208b9b87",
        "type": "inject",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "dc930dafe045725e"
            ]
        ]
    },
    {
        "id": "16ddd3b85e8c7cf4",
        "type": "mqtt in",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/autowater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8195d7a4b94bdd16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 840,
        "wires": [
            [
                "eefd52cffe4cb9b2"
            ]
        ]
    },
    {
        "id": "eefd52cffe4cb9b2",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Check auto water active",
        "func": "if (msg.payload == \"ON\")\n{\n    msg.payload = \"Đã tự động bật máy bơm\";\n}\nelse if (msg.payload == \"OFF\")\n{\n    msg.payload = \"Đã tự động tăt máy bơm\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 840,
        "wires": [
            [
                "6dfeb6e8db219bbe"
            ]
        ]
    },
    {
        "id": "2b2d338d9f30ab22",
        "type": "ui_group",
        "name": "Đăng nhập",
        "tab": "e94f883330d75ad9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "83b22cea40991d65",
        "type": "ui_group",
        "name": "Thông báo",
        "tab": "11effbb23dfb879c",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4af142fc2271e75e",
        "type": "ui_group",
        "name": "Nhiệt độ",
        "tab": "11effbb23dfb879c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "89a06004a041e750",
        "type": "ui_group",
        "name": "Độ ẩm",
        "tab": "11effbb23dfb879c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1d2eb9851173c727",
        "type": "ui_group",
        "name": "Tưới nước",
        "tab": "11effbb23dfb879c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1dd841083e538fcb",
        "type": "ui_group",
        "name": "Chiếu sáng",
        "tab": "11effbb23dfb879c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c4fc82bed36ffa3d",
        "type": "ui_group",
        "name": "Lịch sử",
        "tab": "11effbb23dfb879c",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "134e30c886f77fdc",
        "type": "ui_group",
        "name": "Truy vấn lịch sử",
        "tab": "11effbb23dfb879c",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8195d7a4b94bdd16",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92be35e746bc4e42",
        "type": "ui_group",
        "name": "Ánh sáng",
        "tab": "11effbb23dfb879c",
        "order": 8,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "798c05fb12cd851c",
        "type": "pushsafer-api-key",
        "name": ""
    },
    {
        "id": "6eb5c1d6bdaec352",
        "type": "pushsafer-notification-template",
        "name": "Noti",
        "title": "Thông báo",
        "icon": "",
        "iconcolor": "#ffffff",
        "sound": "5",
        "vibration": "1",
        "priority": "0",
        "devices": "",
        "timetolive": "",
        "retry": "",
        "expire": "",
        "confirm": "",
        "answer": "",
        "answeroptions": "",
        "answerforce": "",
        "url": "",
        "urltitle": "",
        "image": "",
        "image2": "",
        "image3": ""
    },
    {
        "id": "e94f883330d75ad9",
        "type": "ui_tab",
        "name": "Login",
        "order": 1
    },
    {
        "id": "11effbb23dfb879c",
        "type": "ui_tab",
        "name": "Hệ thống chăm sóc cây thông minh iTree",
        "icon": "dashboard",
        "order": 2
    }
]
