flows.json
[
    {
        "id": "bbaae1db6d3d10cd",
        "type": "tab",
        "label": "Smart Irrigation UI",
        "disabled": false,
        "info": "Hệ thống chăm sóc cây thông minh iTree"
    },
    {
        "id": "54a442a5d9554b47",
        "type": "ui_switch",
        "z": "bbaae1db6d3d10cd",
        "name": "Bật/tắt gửi email",
        "label": "Gửi thông báo qua Email",
        "tooltip": "",
        "group": "83b22cea40991d65",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "email_notify",
        "topicType": "str",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 160,
        "y": 1340,
        "wires": [
            [
                "afe8bfa4148c8d7c"
            ]
        ]
    },
    {
        "id": "d92d87f16e5a3f5c",
        "type": "ui_switch",
        "z": "bbaae1db6d3d10cd",
        "name": "Tự động/Thủ công",
        "label": "Tự động",
        "tooltip": "",
        "group": "1d2eb9851173c727",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "mode",
        "topicType": "str",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "manual",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "b31ab048377f74ac",
                "eb8c20cd523ca971"
            ]
        ]
    },
    {
        "id": "b244c90ea27fd291",
        "type": "ui_button",
        "z": "bbaae1db6d3d10cd",
        "name": "Bật/Tắt đèn",
        "group": "1dd841083e538fcb",
        "order": 3,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "{{label_light}}",
        "tooltip": "Nhấn để bật hoặc tắt đèn",
        "color": "white",
        "bgcolor": "#337ab7",
        "className": "stylish-action-button",
        "icon": "fa-lightbulb-o",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "light_toggle",
        "topicType": "str",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "651326fd9d312a66",
                "24968b6fbc7b0c9d"
            ]
        ]
    },
    {
        "id": "eb618a0e705e2c44",
        "type": "ui_text",
        "z": "bbaae1db6d3d10cd",
        "group": "1dd841083e538fcb",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Trạng thái đèn",
        "label": "Trạng thái đèn:",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 980,
        "y": 560,
        "wires": []
    },
    {
        "id": "1d024fe4e6f20d34",
        "type": "ui_chart",
        "z": "bbaae1db6d3d10cd",
        "name": "Biểu đồ lịch sử",
        "group": "c4fc82bed36ffa3d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lịch sử độ ẩm và nhiệt độ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Đang tải dữ liệu...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "",
        "removeOlderPoints": "",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a62a97d91a2eed51",
        "type": "ui_form",
        "z": "bbaae1db6d3d10cd",
        "name": "Chọn ngày truy vấn",
        "label": "Chọn ngày xem dữ liệu",
        "group": "134e30c886f77fdc",
        "order": 1,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "Ngày",
                "value": "date",
                "type": "date",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "date": ""
        },
        "submit": "Xem dữ liệu",
        "cancel": "",
        "topic": "history_query",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 770,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "651326fd9d312a66",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Thay đổi bật/tắt đèn",
        "func": "let ledState = flow.get(\"ledState\");\nif (msg.payload == \"toggle\")\n    ledState = !ledState;\nflow.set(\"ledState\", ledState);\n\nif (ledState == true)\n    msg.payload = \"Bật đèn từ Dashboard\";\nelse\n    msg.payload = \"Tắt đèn từ Dashboard\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 540,
        "wires": [
            [
                "a0fd103ddf409c74",
                "6dfeb6e8db219bbe"
            ]
        ]
    },
    {
        "id": "f9457eb2c611f395",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Biến global",
        "func": "flow.set(\"ledState\", false);\nflow.set(\"sendEmail\", false);\nflow.set(\"logs\", []);\nflow.set(\"autowater\", false);\nlet google_sheet_url = \"https://l.messenger.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1LSsg1GHf-n7OlnkSgmDpNltu04cwKeOykGNkGdFNqOA%2Fedit%3Fgid%3D0%23gid%3D0&h=AT17gj6hCXuEY2TaXfWc1rW82CQMBCIbRUV_BUnprRoULjiNJrmQHQTABUytOfSuqdbBOSQddkfNVG0JTQ0cF6rZ9n06v5Jkj-i35X0dSXPIqAciPQV8raf1fpUFD9rSr0mAWQ\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "24968b6fbc7b0c9d",
        "type": "mqtt out",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/led_dashboard",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8195d7a4b94bdd16",
        "x": 350,
        "y": 600,
        "wires": []
    },
    {
        "id": "0a945f3fba55b17d",
        "type": "mqtt in",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/led_wokwi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8195d7a4b94bdd16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "b4d2a783e827315f"
            ]
        ]
    },
    {
        "id": "b4d2a783e827315f",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Đổi true/false",
        "func": "if (msg.payload === \"True\")\n{\n    msg.payload = \"Đã bật đèn\";\n    flow.set(\"ledState\", true);\n}\nelse \n{\n    msg.payload = \"Đã tắt đèn\";\n    flow.set(\"ledState\", false);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 680,
        "wires": [
            [
                "a0fd103ddf409c74",
                "6dfeb6e8db219bbe"
            ]
        ]
    },
    {
        "id": "a0fd103ddf409c74",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Bật/tắt => 0/100",
        "func": "let ledState = flow.get(\"ledState\");\nif (ledState == true)\n    msg.payload = 100;\nelse\n    msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 540,
        "wires": [
            [
                "4adb3517ada067ed",
                "fc5ad190aaca474b"
            ]
        ]
    },
    {
        "id": "b31ab048377f74ac",
        "type": "ui_slider",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "label": "Thời gian tưới (s)",
        "tooltip": "{{value}}",
        "group": "1d2eb9851173c727",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 410,
        "y": 1080,
        "wires": [
            [
                "9a6e70e6d4b267f5"
            ]
        ]
    },
    {
        "id": "4adb3517ada067ed",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "On/off",
        "func": "if (msg.payload == 0)\n    msg.payload = \"OFF\";\nelse\n    msg.payload = \"ON\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 600,
        "wires": [
            [
                "eb618a0e705e2c44",
                "1d1a43dcd4f9edf8"
            ]
        ]
    },
    {
        "id": "52f01f1fb2ab6bd4",
        "type": "mqtt out",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/pump",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8195d7a4b94bdd16",
        "x": 670,
        "y": 920,
        "wires": []
    },
    {
        "id": "9a6e70e6d4b267f5",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Set Water Time",
        "func": "flow.set(\"water_time\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "7df82ca30fd8aee2",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Check and pass water time",
        "func": "let autowater = flow.get(\"autowater\");\nlet informMsg = {};\n\nif (autowater == false)\n{\n    let water_time = flow.get(\"water_time\");\n    msg.payload = \"ON\" + \"_\" + String(water_time);\n    informMsg.payload = \"Đã bật máy bơm từ Dashboard\";\n    return [informMsg, msg];\n}\nelse\n{\n    informMsg.payload = \"Chế độ tự động tưới đang bật!\";\n    return [informMsg, null];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 920,
        "wires": [
            [
                "6dfeb6e8db219bbe"
            ],
            [
                "52f01f1fb2ab6bd4"
            ]
        ]
    },
    {
        "id": "623e3549d7c1f59e",
        "type": "mqtt in",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/pump",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8195d7a4b94bdd16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "bf539520e20ef7c6"
            ]
        ]
    },
    {
        "id": "bf539520e20ef7c6",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Pump on message",
        "func": "if (msg.payload == \"ON\")\n{\n    msg.payload = \"Đã bật máy bơm\";\n    return msg;\n}\nelse if (msg.payload == \"OFF\")\n{\n    msg.payload = \"Đã tắt máy bơm\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 760,
        "wires": [
            [
                "6dfeb6e8db219bbe"
            ]
        ]
    },
    {
        "id": "6eee42d023e417ba",
        "type": "e-mail",
        "z": "bbaae1db6d3d10cd",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "Send temperature email",
        "x": 590,
        "y": 1400,
        "wires": []
    },
    {
        "id": "afe8bfa4148c8d7c",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "On/off send email",
        "func": "if (msg.payload == \"ON\")\n{\n    flow.set(\"sendEmail\", true);\n}\nelse\n{\n    flow.set(\"sendEmail\", false);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "e145b6fd17e63934",
        "type": "e-mail",
        "z": "bbaae1db6d3d10cd",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "msg.email",
        "dname": "Send humid email",
        "x": 570,
        "y": 1460,
        "wires": []
    },
    {
        "id": "650664786a0bd731",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Check off range temp",
        "func": "let temp = msg.payload;\nlet upper = 40;\nlet lower = 10;\nlet sendEmail = flow.get(\"sendEmail\");\n\nif ((temp < lower || temp > upper) && sendEmail == true)\n{\n    msg.topic = \"Cảnh báo! Nhiệt độ ngoài khoảng an toàn!\";\n    msg.payload = \"Nhiệt độ hiện tại đang nằm ngoài ngưỡng cho phép: \" + temp + \"°C\";\n    msg.to = flow.get(\"userEmail\");\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1400,
        "wires": [
            [
                "6eee42d023e417ba"
            ]
        ]
    },
    {
        "id": "ca930fe4bcbe13c9",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Check off range humid",
        "func": "let humid = msg.payload;\nlet upper = 100;\nlet lower = 10;\nlet sendEmail = flow.get(\"sendEmail\");\n\nif ((humid < lower || humid > upper) && sendEmail == true) \n{\n    msg.topic = \"Cảnh báo! Độ ẩm dưới ngưỡng an toàn\";\n    msg.payload = \"Độ ẩm hiện tại đang nằm dưới ngưỡng cho phép: \" + humid + \"%\";\n    msg.to = flow.get(\"userEmail\");\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1460,
        "wires": [
            [
                "e145b6fd17e63934"
            ]
        ]
    },
    {
        "id": "994d3136548e11c9",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Command string",
        "func": "let water_time = msg.payload.water_time;\nmsg.payload = \"ON\" + \"_\" + String(water_time);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1260,
        "wires": [
            [
                "92a2efa75cec7430"
            ]
        ]
    },
    {
        "id": "691b988619622cee",
        "type": "json",
        "z": "bbaae1db6d3d10cd",
        "name": "command_parser",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 190,
        "y": 1260,
        "wires": [
            [
                "994d3136548e11c9"
            ]
        ]
    },
    {
        "id": "92a2efa75cec7430",
        "type": "mqtt out",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/autowater",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8195d7a4b94bdd16",
        "x": 620,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c179bb95179293e6",
        "type": "http request",
        "z": "bbaae1db6d3d10cd",
        "name": "Get water time from model",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 420,
        "y": 1200,
        "wires": [
            [
                "691b988619622cee"
            ]
        ]
    },
    {
        "id": "eb8c20cd523ca971",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Set autowater",
        "func": "if (msg.payload == \"auto\")\n{\n    flow.set(\"autowater\", true);\n}\nelse\n{\n    flow.set(\"autowater\", false);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "6dfeb6e8db219bbe",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Store 5 recent msg",
        "func": "let history = flow.get(\"logs\") || [];\nlet now = new Date().toLocaleTimeString(\"vi-VN\", { hour: '2-digit', minute: '2-digit' });\nlet newMsg = `🕒 ${now} - ${msg.payload}`;\nhistory.unshift(newMsg);\nhistory = history.slice(0, 5);\nflow.set(\"logs\", history);\nmsg.payload = history;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 680,
        "wires": [
            [
                "ede157d4f7aee52c"
            ]
        ]
    },
    {
        "id": "ede157d4f7aee52c",
        "type": "ui_template",
        "z": "bbaae1db6d3d10cd",
        "group": "83b22cea40991d65",
        "name": "Thông báo/cảnh báo",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<md-card style=\"\n  padding: 10px;\n  background-color: #f9f9f9;\n  border-left: 5px solid #4CAF50;\n  max-height: 160px;\n  overflow-y: auto;\n  box-sizing: border-box;\n\">\n  <md-card-content style=\"margin-top: -5px; padding-bottom: 20px;\">\n    <ul style=\"list-style: none; padding-left: 0; margin: 0;\">\n      <li ng-repeat=\"item in msg.payload track by $index\" style=\"padding: 8px 0; border-bottom: 1px solid #ddd;\">\n        <span style=\"font-size: 15px; font-weight: bold;\">🔔 {{item}}</span>\n      </li>\n    </ul>\n  </md-card-content>\n</md-card>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b6654d5521f1bdc9",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Store email",
        "func": "flow.set(\"userEmail\", msg.payload.email);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "dc930dafe045725e",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Create request",
        "func": "let moisture = Math.random() * 80 + 2;\nlet temp = Math.random() * 50 + 2;\nlet light = Math.random() * 100 + 2;\n\nmsg.payload = {\n    moisture: moisture,\n    temp: temp,\n    light: light\n};\nlet autowater = flow.get(\"autowater\");\nif (autowater == true)\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1200,
        "wires": [
            [
                "c179bb95179293e6"
            ]
        ]
    },
    {
        "id": "609df82b208b9b87",
        "type": "inject",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "dc930dafe045725e"
            ]
        ]
    },
    {
        "id": "16ddd3b85e8c7cf4",
        "type": "mqtt in",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127003/autowater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8195d7a4b94bdd16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 840,
        "wires": [
            [
                "eefd52cffe4cb9b2"
            ]
        ]
    },
    {
        "id": "eefd52cffe4cb9b2",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Check auto water active",
        "func": "if (msg.payload == \"ON\")\n{\n    msg.payload = \"Đã tự động bật máy bơm\";\n}\nelse if (msg.payload == \"OFF\")\n{\n    msg.payload = \"Đã tự động tăt máy bơm\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 840,
        "wires": [
            [
                "6dfeb6e8db219bbe"
            ]
        ]
    },
    {
        "id": "ee2dcd1ed1905b04",
        "type": "mqtt in",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127005/LDR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8195d7a4b94bdd16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1680,
        "wires": [
            [
                "d44f419d5611da61",
                "cafd281fe4d3ee05"
            ]
        ]
    },
    {
        "id": "193cd52f449e54e0",
        "type": "ui_gauge",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "group": "5ee574f87092e9d2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Độ sáng",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#000000",
            "#858585",
            "#ffffff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 1620,
        "wires": []
    },
    {
        "id": "d44f419d5611da61",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Bật đèn khi trời tối",
        "func": "flow.set(\"past\", flow.get(\"now\") ?? null);\nlet auto_led2 = flow.get(\"autoled2\") || 0;\nlet dark = parseInt(msg.payload);\n\nif (auto_led2 == 1)\n{\n    if (dark > 3000)\n    {\n        msg.payload = \"ON\";\n        flow.set(\"now\", 1);\n    }\n    else\n    {\n        msg.payload = \"OFF\"; \n        flow.set(\"now\", 0);\n    }\n    if (flow.get(\"past\") != flow.get(\"now\"))\n        return msg;\n}\n\nreturn null",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1760,
        "wires": [
            [
                "21d64696d8237cc4",
                "30af028d097e0d5f"
            ]
        ]
    },
    {
        "id": "30af028d097e0d5f",
        "type": "mqtt out",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127005/led2",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8195d7a4b94bdd16",
        "x": 740,
        "y": 1760,
        "wires": []
    },
    {
        "id": "d0af3d6bb2a134aa",
        "type": "ui_switch",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "label": "Tự động bật đèn theo ánh sáng môi trường",
        "tooltip": "",
        "group": "5ee574f87092e9d2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 1840,
        "wires": [
            [
                "c76822c37c1a0005"
            ]
        ]
    },
    {
        "id": "c76822c37c1a0005",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Set giá trị mặc định",
        "func": "flow.set(\"autoled2\", msg.payload);\nflow.set(\"past\", 0);\nflow.set(\"now\", 0);\nif (msg.payload == 0) \n    msg.payload = \"OFF\";\nelse\n    return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1840,
        "wires": [
            [
                "30af028d097e0d5f"
            ]
        ]
    },
    {
        "id": "57dd75d5ad798e17",
        "type": "pushsafer",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "apikey": "480c36acb2027573",
        "notificationtemplate": "a77f7a06b8ad2b5c",
        "x": 760,
        "y": 1700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "21d64696d8237cc4",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Thông báo pushsafer",
        "func": "let led2_now_state = flow.get(\"now\");\nlet led2_past_state = flow.get(\"past\");\nif (led2_now_state == 1 && led2_past_state == 0)\n    msg.payload = \"Đèn đã được bật tự động\";\nelse\n    msg = null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1700,
        "wires": [
            [
                "57dd75d5ad798e17"
            ]
        ]
    },
    {
        "id": "8c3238976ecc0601",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Độ sáng cloud",
        "func": "var a = msg.payload;\nmsg.payload = {\n    api_key: \"8AZJ3HOA1ZH6ITXH\",  \n    field1: a\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1540,
        "wires": [
            [
                "8c53a09c05a18674"
            ]
        ]
    },
    {
        "id": "8c53a09c05a18674",
        "type": "http request",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://api.thingspeak.com/update?",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "cc64693cd21470d3",
        "type": "mqtt in",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127121/temperature_humidity",
        "qos": "2",
        "datatype": "json",
        "broker": "8195d7a4b94bdd16",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 1960,
        "wires": [
            [
                "524e0528d198138c"
            ]
        ]
    },
    {
        "id": "524e0528d198138c",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Tách nhiệt độ và độ ẩm",
        "func": "var temp = msg.payload.temperature;\nvar hum = Number(msg.payload.humidity);\nreturn [{payload: temp}, {payload: hum}];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1960,
        "wires": [
            [
                "f6bb1660db65e7a3",
                "42f20331858bcc24",
                "5b24947f3a231be2",
                "7e57fc2892b2e379"
            ],
            [
                "542b67c2e038e2a8",
                "1cba3636cf91dd77",
                "abcf81dd2bd31f86"
            ]
        ]
    },
    {
        "id": "542b67c2e038e2a8",
        "type": "ui_gauge",
        "z": "bbaae1db6d3d10cd",
        "name": "Độ ẩm",
        "group": "89a06004a041e750",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}} ",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 1980,
        "wires": []
    },
    {
        "id": "f6bb1660db65e7a3",
        "type": "ui_gauge",
        "z": "bbaae1db6d3d10cd",
        "name": "Nhiệt độ",
        "group": "4af142fc2271e75e",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}} °C",
        "min": "-40",
        "max": "80",
        "colors": [
            "#004cff",
            "#00ff40",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 1900,
        "wires": []
    },
    {
        "id": "42f20331858bcc24",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Nhiệt độ cloud",
        "func": "var a = msg.payload;\nmsg.payload = {\n    api_key: \"8AZJ3HOA1ZH6ITXH\",  \n    field2: a\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 2040,
        "wires": [
            [
                "7ea5f1d49a077ade"
            ]
        ]
    },
    {
        "id": "1cba3636cf91dd77",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Độ ẩm cloud",
        "func": "var a = msg.payload;\nmsg.payload = {\n    api_key: \"8AZJ3HOA1ZH6ITXH\",\n    field3: a\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 2100,
        "wires": [
            [
                "451b21a9a1741c0f"
            ]
        ]
    },
    {
        "id": "7ea5f1d49a077ade",
        "type": "http request",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://api.thingspeak.com/update?",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "451b21a9a1741c0f",
        "type": "http request",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://api.thingspeak.com/update?",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "5b24947f3a231be2",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Thông báo pushsafer",
        "func": "let temstate = flow.get(\"temstate\") || 0;\n\nif(msg.payload >= 40)\n{    if(temstate == 1)\n        msg = null;\n    else\n       { msg.payload = \"Nhiệt độ quá cao!!!\"; flow.set(\"temstate\",1);}\n}\nelse\n    {\n        flow.set(\"temstate\",0);\n        msg = null;\n    }\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 2200,
        "wires": [
            [
                "5f73dd428d5fb659"
            ]
        ]
    },
    {
        "id": "5f73dd428d5fb659",
        "type": "pushsafer",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "apikey": "480c36acb2027573",
        "notificationtemplate": "7555681997bf6580",
        "x": 540,
        "y": 2200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f5cf2a9b8c0d34b7",
        "type": "mqtt out",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127005/lcd_temperature",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8195d7a4b94bdd16",
        "x": 920,
        "y": 2080,
        "wires": []
    },
    {
        "id": "6ccb3e06d2fa724b",
        "type": "mqtt out",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127005/lcd_humidity",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8195d7a4b94bdd16",
        "x": 770,
        "y": 2200,
        "wires": []
    },
    {
        "id": "7e57fc2892b2e379",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Nhiệt độ -> lcd",
        "func": "// Lấy nhiệt độ cũ từ biến flow (nếu chưa có thì mặc định là null)\nlet lastTemp = flow.get(\"lastTemp\") || null;\n\n// Lấy nhiệt độ mới từ payload\nlet newTemp = msg.payload;\n\n// So sánh\nif (newTemp === lastTemp) {\n    // Nếu giống nhau → không gửi gì cả\n    return null;\n} else {\n    // Nếu khác → lưu lại nhiệt độ mới\n    flow.set(\"lastTemp\", newTemp);\n    msg.payload = newTemp;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 2040,
        "wires": [
            [
                "f5cf2a9b8c0d34b7"
            ]
        ]
    },
    {
        "id": "abcf81dd2bd31f86",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Độ ẩm -> lcd",
        "func": "// Lấy nhiệt độ cũ từ biến flow (nếu chưa có thì mặc định là null)\nlet lastTemp = flow.get(\"lastHud\") || null;\n\n// Lấy nhiệt độ mới từ payload\nlet newTemp = msg.payload;\n\n// So sánh\nif (newTemp === lastTemp) {\n    // Nếu giống nhau → không gửi gì cả\n    return null;\n} else {\n    // Nếu khác → lưu lại nhiệt độ mới\n    flow.set(\"lastHud\", newTemp);\n    msg.payload = newTemp;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 2100,
        "wires": [
            [
                "6ccb3e06d2fa724b"
            ]
        ]
    },
    {
        "id": "cafd281fe4d3ee05",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Chuyển tối thành sáng",
        "func": "msg.payload = 4095 - msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1620,
        "wires": [
            [
                "193cd52f449e54e0",
                "8c3238976ecc0601"
            ]
        ]
    },
    {
        "id": "aa6b730a3a6a4474",
        "type": "ui_form",
        "z": "bbaae1db6d3d10cd",
        "name": "Form Đăng ký",
        "label": "Đăng ký tài khoản",
        "group": "f9d1bdf775b00c16",
        "order": 1,
        "width": 6,
        "height": 6,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "username": "",
            "password": ""
        },
        "submit": "Đăng ký",
        "cancel": "",
        "topic": "register",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 160,
        "y": 2280,
        "wires": [
            [
                "9647b9fc166463f2"
            ]
        ]
    },
    {
        "id": "a50993f8cdf0b5bb",
        "type": "ui_form",
        "z": "bbaae1db6d3d10cd",
        "name": "Form Đăng nhập",
        "label": "Đăng nhập hệ thống",
        "group": "2b2d338d9f30ab22",
        "order": 1,
        "width": 6,
        "height": 4,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": false,
                "rows": null
            },
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "username": "",
            "password": ""
        },
        "submit": "Đăng nhập",
        "cancel": "",
        "topic": "login",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 170,
        "y": 2440,
        "wires": [
            [
                "79ce641d932719be"
            ]
        ]
    },
    {
        "id": "01f26643eb21ddae",
        "type": "ui_button",
        "z": "bbaae1db6d3d10cd",
        "name": "Chuyển sang Đăng ký",
        "group": "2b2d338d9f30ab22",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Đăng ký tài khoản",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "Đăng ký",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 140,
        "y": 2500,
        "wires": [
            [
                "e7e030f7010cc0ba"
            ]
        ]
    },
    {
        "id": "9247d484c8963a28",
        "type": "ui_button",
        "z": "bbaae1db6d3d10cd",
        "name": "Quay lại Đăng nhập",
        "group": "f9d1bdf775b00c16",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Quay lại Đăng nhập",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "Login",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 140,
        "y": 2560,
        "wires": [
            [
                "064c7fc6b182e43d"
            ]
        ]
    },
    {
        "id": "b42b02498caf2511",
        "type": "ui_ui_control",
        "z": "bbaae1db6d3d10cd",
        "name": "Chuyển tab",
        "events": "change",
        "x": 550,
        "y": 2540,
        "wires": [
            []
        ]
    },
    {
        "id": "e7e030f7010cc0ba",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Chuyển sang Register",
        "func": "msg.payload = {\n    tab: \"Đăng ký\" \n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2500,
        "wires": [
            [
                "b42b02498caf2511"
            ]
        ]
    },
    {
        "id": "064c7fc6b182e43d",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Chuyển sang Login",
        "func": "msg.payload = {\n    tab: \"Login\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 2560,
        "wires": [
            [
                "b42b02498caf2511"
            ]
        ]
    },
    {
        "id": "9647b9fc166463f2",
        "type": "change",
        "z": "bbaae1db6d3d10cd",
        "name": "Lưu email/username & set payload=password",
        "rules": [
            {
                "t": "set",
                "p": "register.email",
                "pt": "msg",
                "to": "payload.email",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "register.username",
                "pt": "msg",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.password",
                "tot": "msg"
            }
        ],
        "x": 480,
        "y": 2280,
        "wires": [
            [
                "d8ea148e67cff07a"
            ]
        ]
    },
    {
        "id": "79ce641d932719be",
        "type": "change",
        "z": "bbaae1db6d3d10cd",
        "name": "Lưu thông tin đăng nhập & payload=password",
        "rules": [
            {
                "t": "set",
                "p": "login.email",
                "pt": "msg",
                "to": "payload.email",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "login.username",
                "pt": "msg",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.password",
                "tot": "msg"
            }
        ],
        "x": 480,
        "y": 2440,
        "wires": [
            [
                "5c141b85a1768e49",
                "b6654d5521f1bdc9"
            ]
        ]
    },
    {
        "id": "2a8b654244d3c2a6",
        "type": "GSheet",
        "z": "bbaae1db6d3d10cd",
        "creds": "4c4a40c67253b994",
        "method": "get",
        "sheet": "1LSsg1GHf-n7OlnkSgmDpNltu04cwKeOykGNkGdFNqOA",
        "cells": "Users!A2:C1000",
        "flatten": false,
        "name": "Lấy dữ liệu người dùng từ Google Sheet",
        "x": 920,
        "y": 2520,
        "wires": [
            [
                "53dc27ab2316a4d4"
            ]
        ]
    },
    {
        "id": "1a59dad3ea9eb043",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Lưu mật khẩu",
        "func": "msg.hashedPass = msg.payload;  // Lưu lại hash mật khẩu\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 2440,
        "wires": [
            [
                "2a8b654244d3c2a6"
            ]
        ]
    },
    {
        "id": "11335cc9120e10fd",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Build Row",
        "func": "let email = msg.register.email;\nlet username = msg.register.username;\nlet hashedPassword = msg.payload;\nmsg.payload = [[email, username, hashedPassword]];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 2280,
        "wires": [
            [
                "cfa29ad5a6ebf851"
            ]
        ]
    },
    {
        "id": "cfa29ad5a6ebf851",
        "type": "GSheet",
        "z": "bbaae1db6d3d10cd",
        "creds": "4c4a40c67253b994",
        "method": "append",
        "sheet": "1LSsg1GHf-n7OlnkSgmDpNltu04cwKeOykGNkGdFNqOA",
        "cells": "Users!A2:C1000",
        "flatten": false,
        "name": "Append user to Google Sheet",
        "x": 1210,
        "y": 2280,
        "wires": [
            [
                "5f7f1fab6ed4dd47"
            ]
        ]
    },
    {
        "id": "5f7f1fab6ed4dd47",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Set toast message",
        "func": "msg.payload = \"Đăng ký thành công!\";\nmsg.topic = \"\"; \nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 2280,
        "wires": [
            [
                "eef6052565fe834f"
            ]
        ]
    },
    {
        "id": "53dc27ab2316a4d4",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Xác thực đăng nhập",
        "func": "let email = (msg.login.email || '').toLowerCase().trim();\nlet username = (msg.login.username || '').toLowerCase().trim();\nlet hashedPass = (msg.hashedPass || '').trim();\n\nlet users = msg.payload || [];\n// users là mảng mảng, mỗi phần tử là 1 row: [email, username, password_hash]\nlet found = users.find(row => {\n    let rowEmail = (row[0] || '').toLowerCase().trim();\n    let rowUsername = (row[1] || '').toLowerCase().trim();\n    let rowPass = (row[2] || '').trim();\n\n    return ((email && rowEmail === email) || (username && rowUsername === username)) && rowPass === hashedPass;\n});\nif(found){\n    // Login thành công, gửi msg chuyển tab\n    return [{ payload: { tab: \"Hệ thống chăm sóc cây thông minh iTree\"}}, null];\n}else{\n    // Đăng nhập sai, gửi msg thông báo lỗi\n    return [null, {payload: \"Email/Username hoặc mật khẩu sai!\"}];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 2520,
        "wires": [
            [
                "6532e87531bba7a7"
            ],
            [
                "1fc1c67ff8095b1e"
            ]
        ]
    },
    {
        "id": "1fc1c67ff8095b1e",
        "type": "ui_toast",
        "z": "bbaae1db6d3d10cd",
        "position": "dialog",
        "displayTime": "3000",
        "highlight": "red",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Thông báo lỗi đăng nhập",
        "x": 1490,
        "y": 2580,
        "wires": [
            []
        ]
    },
    {
        "id": "6532e87531bba7a7",
        "type": "ui_ui_control",
        "z": "bbaae1db6d3d10cd",
        "name": "Chuyển tab dashboard",
        "events": "change",
        "x": 1560,
        "y": 2500,
        "wires": [
            []
        ]
    },
    {
        "id": "eef6052565fe834f",
        "type": "ui_toast",
        "z": "bbaae1db6d3d10cd",
        "position": "dialog",
        "displayTime": "1",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Thông báo đăng ký",
        "x": 1690,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "adc573e4e4e06a9b",
        "type": "ui_button",
        "z": "bbaae1db6d3d10cd",
        "name": "pump_manual",
        "group": "1d2eb9851173c727",
        "order": 3,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "",
        "tooltip": "Nhấn để tưới nước thủ công",
        "color": "white",
        "bgcolor": "green",
        "className": "custom-action-button",
        "icon": "fa-tint",
        "payload": "ON",
        "payloadType": "str",
        "topic": "pump_manual",
        "topicType": "str",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "7df82ca30fd8aee2",
                "b31ab048377f74ac",
                "6624356b64a430d4"
            ]
        ]
    },
    {
        "id": "d8ea148e67cff07a",
        "type": "digest",
        "z": "bbaae1db6d3d10cd",
        "name": "Hash password SHA256",
        "algorithm": "SHA256",
        "x": 790,
        "y": 2280,
        "wires": [
            [
                "11335cc9120e10fd"
            ]
        ]
    },
    {
        "id": "5c141b85a1768e49",
        "type": "digest",
        "z": "bbaae1db6d3d10cd",
        "name": "Hash password SHA256",
        "algorithm": "SHA256",
        "x": 810,
        "y": 2440,
        "wires": [
            [
                "1a59dad3ea9eb043"
            ]
        ]
    },
    {
        "id": "11b7fee7272fd820",
        "type": "mqtt in",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127121/led_brightness_status",
        "qos": "2",
        "datatype": "auto",
        "broker": "38d1a017c70ee818",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "12fbc016c4c41297"
            ]
        ]
    },
    {
        "id": "12fbc016c4c41297",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Cập nhật slider từ ESP32",
        "func": "msg._source = \"mqtt\";\nmsg.payload = Math.round(Number(msg.payload) * 100 / 255);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 440,
        "wires": [
            [
                "fc5ad190aaca474b"
            ]
        ]
    },
    {
        "id": "fc5ad190aaca474b",
        "type": "ui_slider",
        "z": "bbaae1db6d3d10cd",
        "name": "Cường độ đèn",
        "label": "Độ sáng",
        "tooltip": "{{value}}",
        "group": "1dd841083e538fcb",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "light_level",
        "topicType": "str",
        "min": 0,
        "max": 100,
        "step": 1,
        "className": "",
        "x": 800,
        "y": 480,
        "wires": [
            [
                "a2d23adf5cf8c5d0"
            ]
        ]
    },
    {
        "id": "a2d23adf5cf8c5d0",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Lưu giá trị slider",
        "func": "flow.set(\"brightness\", msg.payload);\nlet ledState = flow.get(\"ledState\");\nif (ledState) {\n    return msg; \n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 420,
        "wires": [
            [
                "a98926afa42343c0"
            ]
        ]
    },
    {
        "id": "a98926afa42343c0",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "Chuyển 0-100 thành 0-255",
        "func": "if (msg._source && msg._source == \"mqtt\") {\n    return null;\n}\nlet ledState = flow.get(\"ledState\");\nif (!ledState) {\n    return null;\n}\nmsg.payload = Math.round(msg.payload * 255 / 100);\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 500,
        "wires": [
            [
                "a2e7ba188ee2c504"
            ]
        ]
    },
    {
        "id": "a2e7ba188ee2c504",
        "type": "mqtt out",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "topic": "/23127121/led_brightness_set",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38d1a017c70ee818",
        "x": 1390,
        "y": 400,
        "wires": []
    },
    {
        "id": "40a61e15e8ab7dd5",
        "type": "http request",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://api.thingspeak.com/update?",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "1d1a43dcd4f9edf8",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "23127005 - cloud led",
        "func": "var a = (msg.payload == \"ON\") ? 1 : 0;\nmsg.payload = {\n    api_key: \"8AZJ3HOA1ZH6ITXH\",\n    field4: a\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 620,
        "wires": [
            [
                "40a61e15e8ab7dd5"
            ]
        ]
    },
    {
        "id": "6624356b64a430d4",
        "type": "function",
        "z": "bbaae1db6d3d10cd",
        "name": "23127005 - cloud relay",
        "func": "var a = flow.get(\"water_time\");\nmsg.payload = {\n    api_key: \"8AZJ3HOA1ZH6ITXH\",\n    field5: a\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1000,
        "wires": [
            [
                "23a678f4c8876756"
            ]
        ]
    },
    {
        "id": "23a678f4c8876756",
        "type": "http request",
        "z": "bbaae1db6d3d10cd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://api.thingspeak.com/update?",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "0d5a717440330474",
        "type": "ui_template",
        "z": "bbaae1db6d3d10cd",
        "group": "1d2eb9851173c727",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Style for our custom button class */\n    .custom-action-button button {\n        /* Make the button circular and remove the default border */\n        border-radius: 50% !important;\n        border: none;\n\n        /* Add depth with a shadow */\n        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);\n\n        /* Ensure smooth animations for hover/click effects */\n        transition: all 0.2s ease-in-out;\n\n        /* Make the icon larger, as there is no text */\n        font-size: 24px;\n\n        /* Override default padding to keep it circular */\n        padding: 15px !important;\n        min-width: 0;\n        min-height: 0;\n        line-height: 1;\n    }\n\n    /* --- INTERACTIVE EFFECTS --- */\n\n    /* Effect for when the mouse is hovering over the button */\n    .custom-action-button button:hover {\n        /* Make the shadow larger to 'lift' the button */\n        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);\n\n        /* Move the button up slightly */\n        transform: translateY(-2px);\n\n        /* Make the color slightly brighter */\n        filter: brightness(1.1);\n    }\n\n    /* Effect for when the button is being clicked */\n    .custom-action-button button:active {\n        /* Reduce the shadow to make it look 'pressed' */\n        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);\n\n        /* Move the button down to simulate a press */\n        transform: translateY(1px);\n\n        /* Make it slightly darker */\n        filter: brightness(0.9);\n    }\n</style>\n<style>\n/* Style for our custom button class */\n.stylish-action-button button {\n    /* Make the button circular and remove the default border */\n    border-radius: 50% !important; \n    border: none;\n    \n    /* Add depth with a shadow to make it 'pop' */\n    box-shadow: 0 4px 9px rgba(0,0,0,0.25);\n    \n    /* Ensure smooth animations for hover/click effects */\n    transition: all 0.2s ease-in-out;\n\n    /* Make the icon larger, as there is no text label */\n    font-size: 24px;\n}\n\n/* --- INTERACTIVE EFFECTS --- */\n\n/* Effect for when the mouse is hovering over the button */\n.stylish-action-button button:hover {\n    /* Make the shadow larger to 'lift' the button */\n    box-shadow: 0 7px 14px rgba(0,0,0,0.3);\n    \n    /* Move the button up slightly */\n    transform: translateY(-3px);\n    \n    /* Make the color slightly brighter */\n    filter: brightness(1.1);\n}\n\n/* Effect for when the button is being clicked */\n.stylish-action-button button:active {\n    /* Reduce the shadow to make it look 'pressed' */\n    box-shadow: 0 2px 4px rgba(0,0,0,0.2);\n\n    /* Move the button down to simulate a press */\n    transform: translateY(1px);\n\n    /* Make it slightly darker */\n    filter: brightness(0.95);\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 800,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "83b22cea40991d65",
        "type": "ui_group",
        "name": "Thông báo",
        "tab": "11effbb23dfb879c",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d2eb9851173c727",
        "type": "ui_group",
        "name": "Tưới nước",
        "tab": "11effbb23dfb879c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1dd841083e538fcb",
        "type": "ui_group",
        "name": "Chiếu sáng",
        "tab": "11effbb23dfb879c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c4fc82bed36ffa3d",
        "type": "ui_group",
        "name": "Lịch sử",
        "tab": "11effbb23dfb879c",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "134e30c886f77fdc",
        "type": "ui_group",
        "name": "Truy vấn lịch sử",
        "tab": "11effbb23dfb879c",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8195d7a4b94bdd16",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5ee574f87092e9d2",
        "type": "ui_group",
        "name": "Ánh sáng",
        "tab": "11effbb23dfb879c",
        "order": 8,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "480c36acb2027573",
        "type": "pushsafer-api-key",
        "name": ""
    },
    {
        "id": "a77f7a06b8ad2b5c",
        "type": "pushsafer-notification-template",
        "name": "Noti",
        "title": "Thông báo",
        "icon": "",
        "iconcolor": "#ffffff",
        "sound": "5",
        "vibration": "1",
        "priority": "0",
        "devices": "",
        "timetolive": "",
        "retry": "",
        "expire": "",
        "confirm": "",
        "answer": "",
        "answeroptions": "",
        "answerforce": "",
        "url": "",
        "urltitle": "",
        "image": "",
        "image2": "",
        "image3": ""
    },
    {
        "id": "89a06004a041e750",
        "type": "ui_group",
        "name": "Độ ẩm",
        "tab": "11effbb23dfb879c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4af142fc2271e75e",
        "type": "ui_group",
        "name": "Nhiệt độ",
        "tab": "11effbb23dfb879c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7555681997bf6580",
        "type": "pushsafer-notification-template",
        "name": "Noti",
        "title": "Thông báo",
        "icon": "",
        "iconcolor": "#ffffff",
        "sound": "5",
        "vibration": "1",
        "priority": "0",
        "devices": "",
        "timetolive": "",
        "retry": "",
        "expire": "",
        "confirm": "",
        "answer": "",
        "answeroptions": "",
        "answerforce": "",
        "url": "",
        "urltitle": "",
        "image": "",
        "image2": "",
        "image3": ""
    },
    {
        "id": "f9d1bdf775b00c16",
        "type": "ui_group",
        "name": "Đăng ký",
        "tab": "5364fe89aafc73ed",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b2d338d9f30ab22",
        "type": "ui_group",
        "name": "Đăng nhập",
        "tab": "e94f883330d75ad9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4c4a40c67253b994",
        "type": "gauth",
        "name": "nodered-service-account@user-468711.iam.gserviceaccount.com"
    },
    {
        "id": "38d1a017c70ee818",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "11effbb23dfb879c",
        "type": "ui_tab",
        "name": "Hệ thống chăm sóc cây thông minh iTree",
        "icon": "fa-leaf",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5364fe89aafc73ed",
        "type": "ui_tab",
        "name": "Đăng ký",
        "icon": " fa-registered",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e94f883330d75ad9",
        "type": "ui_tab",
        "name": "Login",
        "icon": "fa-sign-in",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
